{% extends 'BCProcessor/parse_list_base.html' %}

{% block title %}
Category parse list
{% endblock %}

{% block main_content %}

  <h2 class="sub-header">Category parse list</h2>
    <button id="parse" class="btn btn-success">Parse</button>
    <button id="sync" class="btn btn-info">Sync</button>
    <div id="parseContent"></div>
  <div class="table-responsive" style="min-height:610px;">
    <table class="table table-striped">
      <thead>
        <tr>
        <th>#</th>
        <th>Название</th>
        <th>Категория</th>
        <th>url</th>
        </tr>
      </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ category.title }}</td>
                    <td>{{ category.main_category }}</td>
                    <td><a href="http://www.buyincoins.ru{{ category.url }}">www.buyincoins.ru{{ category.url }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  <div class="row">
    <div class="large-3 large-offset-5 columns">
      <ul class="pagination">
        {%  if categories.has_previous %}
          <li class="arrow"><a href="{% url 'all_category_page' categories.previous_page_number %}">&laquo;</a></li>
        {% else %}
          <li class="arrow disabled"><a href="">&laquo;</a></li>
        {% endif %}
        {% for page in categories.paginator.page_range %}
          {% if page == categories.number %}
            <li class="active"><a href="{% url 'all_category_page' page %}">{{ page }}</a></li>
          {% else %}
            <li><a href="{% url 'all_category_page' page %}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
        {% if categories.has_next %}
          <li><a href="{% url 'all_category_page' categories.next_page_number %}">&raquo;</a></li>
        {% else %}
          <li class="arrow disabled"><a href="">&raquo;</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

{% endblock %}