{% extends 'blog/parse_list_base.html' %}

{% block title %}
Product difference list
{% endblock %}

{% block main_content %}

  <h2 class="sub-header">Product difference list</h2>
  <button id="setDifference" class="btn btn-info">Показать разницу</button>
  <div class="table-responsive" style="min-height:610px;">
    <table class="table table-striped">
      <thead>
        <tr>
        <th>#</th>
        <th>Название</th>
        </tr>
      </thead>
        <tbody>
          {% for product in difference_products %}
            <tr>
              {% if product.is_parse %}
                <td style="background: #afd792">{{ forloop.counter }}</td>
                <td><a href="{% url 'show_product' forloop.counter %}">{{ product.title }}</a></td>
              {% else %}
                <td style="background: #fea792">{{ forloop.counter }}</td>
                <td><a href="{% url 'show_product' forloop.counter %}">{{ product.title }}</a></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>

  <div class="row">
    <div class="large-3 large-offset-5 columns">
      <ul class="pagination">
        {%  if difference_products.has_previous %}
          <li class="arrow"><a href="{% url 'difference_page' difference_products.previous_page_number %}">&laquo;</a></li>
        {% else %}
          <li class="arrow disabled"><a href="">&laquo;</a></li>
        {% endif %}
        {% for page in difference_products.paginator.page_range %}
          {% if page == difference_products.number %}
            <li class="active"><a href="{% url 'difference_page' page %}">{{ page }}</a></li>
          {% else %}
            <li><a href="{% url 'difference_page' page %}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}
        {% if difference_products.has_next %}
          <li><a href="{% url 'difference_page' difference_products.next_page_number %}">&raquo;</a></li>
        {% else %}
          <li class="arrow disabled"><a href="">&raquo;</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

{% endblock %}